@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6fllbg');
  src:  url('fonts/icomoon.eot?6fllbg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6fllbg') format('truetype'),
    url('fonts/icomoon.woff?6fllbg') format('woff'),
    url('fonts/icomoon.svg?6fllbg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-users1:before {
  content: "\e903";
}
.icon-social-twitter:before {
  content: "\e904";
}
.icon-event_available:before {
  content: "\e900";
}
.icon-groups:before {
  content: "\e901";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
.icon-facebook-with-circle:before {
  content: "\e905";
}
.icon-youtube-with-circle:before {
  content: "\e906";
}
.icon-arrow-thin-right:before {
  content: "\e902";
}
.icon-library:before {
  content: "\e921";
}
.icon-credit-card:before {
  content: "\e93f";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-amazon:before {
  content: "\ea87";
}
.icon-google:before {
  content: "\ea88";
}
.icon-hangouts:before {
  content: "\ea8e";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-vk:before {
  content: "\ea98";
}
.icon-renren:before {
  content: "\ea99";
}
.icon-twitch:before {
  content: "\ea9f";
}
.icon-vimeo2:before {
  content: "\eaa1";
}
.icon-lanyrd:before {
  content: "\eaa2";
}
.icon-flickr3:before {
  content: "\eaa5";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-behance2:before {
  content: "\eaa9";
}
.icon-deviantart:before {
  content: "\eaaa";
}
.icon-steam2:before {
  content: "\eaad";
}
.icon-github:before {
  content: "\eab0";
}
.icon-npm:before {
  content: "\eab1";
}
.icon-wordpress:before {
  content: "\eab4";
}
.icon-joomla:before {
  content: "\eab5";
}
.icon-soundcloud2:before {
  content: "\eac4";
}
.icon-skype:before {
  content: "\eac5";
}
